<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đối Tác - Thỏ Store</title>
    <link rel="icon" href="http://localhost/Bunny_Book_Store/public/img/logo.png" type="image/icon type">
    <script src="https://kit.fontawesome.com/b1f83b8c89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./doi-tac.css">
</head>
<body>

    <div id="sidebar">
        <div class="sidebar-content">
            <div id="logo">
                <a href="../../index.html">
                    <img src="http://localhost/Bunny_Book_Store/public//img/logo.png" alt="">
                </a>
            </div>

            <!-- icon personal -->
            <div id="extra">
                <a href=""><i class="far fa-user-circle"></i></a>
                <a href=""><i class="fas fa-search"></i></a>
                <a href=""><i class="far fa-heart"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
            </div>

            <div id="menu-link">
                <h3>Thể Loại Sách</h3>
                <nav>
                                           
                    <ul>
                        <li>
                            <a href="../../html/best-seller.html">Best Seller</a>
                        </li>
                        <li>
                            <a href="../../html/new-book.html">Sách mới</a>
                        </li>
                        
                        <li>
                            <a href="../../html/text-book.html">Giáo Khoa Giáo Trình</a>
                        </li>
                        <li>
                            <a href="../../html/accessory.html">Sách Tham Khảo</a>
                        </li>
                        <li>
                            <a href="../../html/hornor-book.html">Kinh Dị</a>
                        </li>
                        <li>
                            <a href="../../html/history-book.html">Lịch Sử</a>
                        </li>
                        <li>
                            <a href="../../html/politics-law-book.html">Chính Trị Pháp Luật</a>
                        </li>
                        <li>
                            <a href="../../html/literature.html">Văn Học</a>
                        </li>
                        <li>
                            <a href="../../html/economy.html">Kinh Tế</a>
                        </li>
                        <li>
                            <a href="../../html/life-skills.html">Kỹ Năng Sống</a>
                        </li>
                        <li>
                            <a href="../../html/comic-manga.html">Truyện Tranh Manga</a>
                        </li>
                        <li>
                            <a href="../../html/medicine.html">Y Học</a>
                        </li>
                        <li>
                            <a href="../../html/spiritual-religion.html">Tôn Giáo Tâm Linh</a>
                        </li>
                        
                        <li>
                            <a href="../../html/technology.html">Khoa Học Kĩ Thuật</a>
                        </li>
                        <li>
                            <a href="../../html/cultural.html">Văn Hóa</a>
                        </li>
                        <li>
                            <a href="../../html/childrens-book.html">Thiếu Nhi</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="sidebar-footer">
            
            <div class="follow">
                <a target="blank" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a target="blank" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                <a target="blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a target="blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <p>
                    Copyright © All rights reserved.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        
    </div>

    <footer>
        <div class="top">
                <div class="top-about">
                    <div class="title-top">Thông Tin</div><br>
                    <a href="../../personal/infomation/gioi-thieu.html">Giới thiệu</a><br>
                    <a href="../../personal/infomation/doi-tac.html">Đối tác</a></div>
                <div class="top-about">
                    <div class="title-top">Chính sách</div><br>
                    <a href="../../personal/policy/doi-hang.html">Chính sách đổi hàng</a><br>
                    <a href="../../personal/policy/bao-hanh.html">Chính sách bảo hành</a><br>
                    <a href="../../personal/policy/bao-mat.html">Chính sách bảo mật</a><br>
                    <a href="../../personal/policy/hoan-tien.html">Chính sách hoàn tiền</a></div>
                <div class="top-about">
                    <div class="title-top">FAQ</div><br>
                    <a href="../../personal/fqa/tt-vc.html">Thanh toán và vận chuyển</a><br>
                    <a href="../../personal/fqa/check-booking.html">Kiểm tra thông tin đơn hàng</a><br>
                    <a href="../../personal/fqa/question.html">Câu hỏi thường gặp</a></div>
        </div>

        <div class="bottom">
            <div class="bottom-about">
                <p class="content" >Nhận khuyến mãi từ tụi mình.</p>
                <form class="form1" action="">
                    <input type="text" placeholder="Nhập địa chỉ email của bạn" >
                    <input type="submit" value="Gửi">
                </form>
            </div>
            <div class="bottom-about">
                <p class="content" >Tra cứu đơn hàng của bạn</p>
                <form class="form1" action="">
                    <input type="text" placeholder="Nhập SĐT hoặc Mã đơn hàng" >
                    <input type="submit" value="Gửi">
                </form>
            </div>
            <div class="bottom-about">
                <a target="blank" href="https://gmail.com">
                    <i class="fas fa-envelope"></i>
                    <p class="support" >
                        GÓP Ý/ THAN PHIỀN
                    </p>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>